.bg-purple{
	background-color: #6c19ed;
}

.txt-white{
	color: white;
}

.logo {
	height: 2.5em;
	width: 2.5em;
}

.navbar{
	margin-bottom: 25px;
}

.card{
	margin: auto;
}

.thinlogo, .edenlogo, .esklogo{
	height: 2.5em;
	width:3em;
}
